[submodule "packages/server"]
	path = packages/server
	url = git@github.com:hirokinko/quoridorn-server.git
[submodule "packages/client"]
	path = packages/client
	url = git@github.com:hirokinko/quoridorn-mark2.git
